@font-face {
    font-family: "icomoon";
    src: url("../icons/fonts/icomoon.ttf") format("ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
}
html{
    scroll-behavior: smooth;
}
.corpo{
    height: 100vh;
    background-image: url(https://www.r2pg.com.br/wp-content/uploads/2017/06/andreas-rocha-2017-04-28-winding-paths.jpg);
}
.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.dflex {
    display: flex;
}
.fbw {
    flex-wrap: wrap;
}
.clear {
    clear: both;
    display: block;
}
.table {
    display: table;
}
/* ALINHAMENTOS HORIZONTAIS */
.fbc{
    flex-direction: column;
}
.just-center {
    justify-content: center;
}
.just-sa {
    justify-content: space-around;
}
.just-sb {
    justify-content: space-between;
}
.just-start {
    justify-content: flex-start;
}
.just-end {
    justify-content: flex-end;
}
/* ALINHAMNETOS PP */
.alg-center {
    align-items: center;
}
.alg-start {
    align-items: flex-start;
}
.alg-end {
    align-items: flex-end;
}
.alg-base {
    align-items: baseline;
}
/* ALINHAMENTOS C/HIGHT */
.alg-cont-center {
    align-content: center;
}
.alg-cont-start {
    align-content: flex-start;
}
.alg-cont-end {
    align-content: flex-end;
}
.alg-cont-space {
    align-content: space-between;
}
.alg-cont-stretch {
    align-content: stretch;
}
.back-red {
    background: red;
}
/* COLUNAS DEFAULT 1200px*/
.w20 {
    width: calc(20% - 5px);
}
.w30 {
    width: calc(30% - 5px);
}
.w50 {
    width: calc(50% - 5px);
}
.w70 {
    width: calc(70% - 5px);
}
.w80 {
    width: calc(80% - 5px);
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.f-row {
    flex-direction: row;
}
.inner {
    display: flex;
    height: 100vh;
}
.inner .esquerda {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    opacity: 0.5;
}
.inner .esquerda .imagem {
    width: 500px;
    margin: auto;
    height: 1200px;
    background-color: gray;
}
.inner .direita {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #2c3e50;
}
.inner .direita .box-form {
    width: calc(70% - 15px);
    margin: auto;
    height: auto;
    padding: 30px;
    box-shadow: 0px 3px 6px #00000029;
    background-color: #ffffff;
    border-radius: 10px;
}
.bloco-det-lado .nav-da-tab {
    position: relative;
}
.bloco-det-lado .nav-inner {
    margin-right: 30px;
    cursor: pointer;
    padding-bottom: 10px;
}
.bloco-det-lado h3 {
    text-align: left;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #BCBCBC;
    opacity: 1;
    transition: 0.28s ease-in-out;
}
.bloco-det-lado {
    position: relative;
    overflow: hidden;
}
.bloco-det-lado.cadastro .nav-da-tab::after {
    transform: translateX(85px);
    width: 95px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.bloco-det-lado .nav-da-tab::after {
    content: '';
    width: 52px;
    height: 2px;
    background-color: #448AFF;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
}
.bloco-det-lado.login .nav-inner #login {
    color: #448AFF;
    transition: 0.28s ease-in-out;
}
.bloco-det-lado.cadastro .nav-inner #registrar {
    color: #448AFF;
    transition: 0.28s ease-in-out;
} 
.bloco-det-lado.login #login-form {
    transform: translateX(0%);
    transition: 0.27s ease-in-out;
} 
.bloco-det-lado.cadastro #login-form {
    transform: translateX(-400%);
    transition: 0.27s ease-in-out;
    position: absolute;
} 
.bloco-det-lado #cadastro-form {
    position: absolute;
    left: 0px;
    margin-top: 20px;
    transition: 0.27s ease-in-out;
}
.bloco-det-lado .infos-detalhe {
    margin-top: 20px;
    transition: 0.27s ease-in-out;
}
.bloco-det-lado.cadastro #cadastro-form {
    transform: translateX(0%);
    position: relative;
    top: 0px;
    left: 0px;
    transition: 0.27s ease-in-out;
}
#login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#login-form form label {
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 10px;
}
#login-form form input {
    width: 100%;
    padding: 0 20px;
    height: 46px;
    outline: 0;
    border: 1px solid;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: ease-in-out 0.27s;
}
#login-form form input:focus {
    transition: ease-in-out 0.27s;
    border: 1px solid #448AFF    ;
}
#login-form button {
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    background-color: #448AFF;
    transition: ease-in-out 0.26s;
    align-items: center;
    text-align: center;
    border: 0;
    border: 2px solid #448AFF;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}
#login-form button:hover {
    background-color: #448AFF;
    transition: ease-in-out 0.26s;
    color: #333333;
    background-color: #ffffff;
    transition: ease-in-out 0.26s;
    border: 2px solid #7B1FA2;
}
#cadastro-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cadastro-form form label {
    text-align: left;
    width: 100%;
    font-size: 16px;
    line-height: 26px;
    color: #333333;
    margin-bottom: 10px;
}
#cadastro-form form input {
    width: 100%;
    padding: 0 20px;
    height: 46px;
    outline: 0;
    border: 1px solid;
    margin-bottom: 30px;
    border-radius: 5px;
    transition: ease-in-out 0.27s;
}
#cadastro-form form input:focus {
    transition: ease-in-out 0.27s;
    border: 1px solid #448AFF    ;
}
#cadastro-form button {
    width: 100%;
    height: 46px;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    background-color: #448AFF;
    transition: ease-in-out 0.26s;
    align-items: center;
    text-align: center;
    border: 0;
    border: 2px solid #448AFF;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}
.bloco-det-lado.login #cadastro-form {
    transform: translateX(700%);
    transition: 0.27s ease-in-out;
}
#cadastro-form button:hover {
    background-color: #448AFF;
    transition: ease-in-out 0.26s;
    color: #333333;
    background-color: #ffffff;
    transition: ease-in-out 0.26s;
    border: 2px solid #7B1FA2;
}
@media screen and (max-width: 1366px) {
    .container {
        max-width: 1145px;
    }
    #p8-2 {
        display: none;
    }
}
@media screen and (max-width: 1280px) {
    .container {
        max-width: 100%;
        padding: 0 4%;
    }
    #p8-2 {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
    .w20 {
        width: 100%;
    }
    .w30 {
        width: 100%;
    }
    .w50 {
        width: 100%;
    }
    .w70 {
        width: 100%;
    }
    .w80 {
        width: 100%;
    }
    .inner {
        flex-direction: column;
        margin: 24px 0;
    }
    .inner .esquerda {
        width: 100%;
        height: 100%;
    }
    .inner .esquerda .imagem {
        width: 100%;
        margin: 0;
        height: 300px;
    }
    .inner .direita {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-top: 24px;
    }
    .inner .direita .box-form {
        width: 100%;
        margin: auto;
        height: auto;
        padding: 24px;
        margin-bottom: 24px;
    }
    #login-form form input {
        margin-bottom: 24px;
    }
    .bloco-det-lado .infos-detalhe {
        margin-top: 16px;
    }
    .bloco-det-lado #cadastro-form {
        margin-top: 16px;
        
    }
}